.news-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.news-section__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;
  color: var(--text-color);
  text-transform: uppercase;
}

.news-section__descr {
  font-size: 18px;
  color: var(--light-text);
  text-align: center;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

/*.news-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}*/
.news-section__list {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 15px;
}
.news-section__list .swiper-wrapper {
  display: flex;
  align-items: stretch; /* Убедимся, что все слайды имеют одинаковую высоту */
  justify-content: flex-start; /* Слайды начинаются слева */
}

.news-section__load-more {
  display: block;
  margin: 40px auto 0;
  padding: 12px 30px;
  font-size: 16px;
}

/*++++±+++*/

.news-section__pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.news-pagination__prev,
.news-pagination__next {
  width: 40px;
  height: 40px;
  background: var(--accent-color);
  color: var(--white);
}

.news-pagination__prev:hover,
.news-pagination__next:hover {
  background: #fc3a0e;
}

.news-pagination__prev:disabled,
.news-pagination__next:disabled {
  background: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.news-pagination__numbers {
  display: flex;
  gap: 8px;
}

.news-pagination__number {
  width: 40px;
  height: 40px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.news-pagination__number:hover {
  background: #d0d0d0;
}

.news-pagination__number.active {
  background: var(--accent-color);
  color: var(--white);
}

/* ------ */
.news-slide {
  height: auto;
}
.news-slide .blog-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Убедимся, что содержимое занимает всю высоту */
}

.news__prev {
  left: 10px;
}

.news__next {
  right: 10px;
}

/* Плавная анимация появления */
.fade-in {
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
}