.video-section {
  padding: 80px 0;
  text-align: center;
}
.plyr__video-embed {
  position: relative;
}
.video-section__title {
  /* font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
  color: var(--text-color);
  text-transform: uppercase; */
}
.video-section__descr {
  font-size: 18px;
  color: var(--light-text);
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
.video-section__player {
  position: relative;
  width: 100%;
  max-width: 1230px;
  /*height: 671px;*/
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}
.plyr-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
plyr-video::-webkit-media-controls-timeline,
.plyr-video::-webkit-media-controls {
  display: none !important;
}
video:not(.plyr-video)::-webkit-media-controls {
  display: block !important;
}
.plyr {
  border-radius: 0;
  font-family: "Arial", sans-serif;
  --plyr-color-main: var(--primary-dark); /*hover control*/
  --plyr-control-spacing: 10px;
  --plyr-video-background: #1e212c;
}
.plyr__control {
  background: var(--secondary-dark);/*control color*/
  color: var(--white);
  transition: all 0.3s ease;
}
.plyr__control:hover {
  background: var(--secondary-dark);
}
.plyr-video::-webkit-media-controls-timeline,
.plyr-video::-webkit-media-controls {
  display: none !important;
}
.plyr__progress__container {
  background: rgba(255, 255, 255, 0.2);
  height: 4px;
  border-radius: 2px;
  position: relative;
  margin: 0 10px;
}
.plyr__progress__buffer {
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  border-radius: 2px;
}
.plyr__progress__bar {
  background: var(--secondary);
  height: 100%;
  border-radius: 2px;
}
.plyr__progress input[type="range"] {
  appearance: none;
  background: transparent;
  height: 4px;
  width: 100%;
  cursor: pointer;
}
.plyr__progress input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: var(--secondary);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: -4px;
} /* .plyr__volume input[type=range] {     width: 5px;     } */
.plyr__progress input[type="range"]::-moz-range-thumb {
  background: var(--secondary);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.plyr__progress input[type="range"]::-ms-thumb {
  background: var(--secondary);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.plyr__time {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
}
.plyr__control--overlaid {
  background: var(--secondary);
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  will-change: transform, background-color;
}
.plyr__control--overlaid:hover {
  background: var(--secondary); /* transform: scale(1.1); */
}
.plyr__control--overlaid svg {
  fill: var(--white);
  width: 24px;
  height: 24px;
}
.video-section__play-btn {
  display: none;
}
/*
.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: var(--secondary);
  color: var(--white);
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.video-play-button:hover {
  background: var(--secondary-dark);
  transform: translate(-50%, -50%) scale(1.1);
}*/


.video-play-button {
  font-size: 60px;
  background: none;
  border: none;
  color: var(--secondary);
  text-shadow: 0 0 10px #fff;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-play-button:hover {
  color: var(--secondary-dark);
}
