<div id="header-placeholder"></div>

    <script>
      fetch("partials/header.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("header-placeholder").innerHTML = data;
          document.querySelectorAll(".dropdown").forEach((item) => {
            item.addEventListener("mouseenter", () => {
              const menu = item.querySelector(".dropdown-menu");
              menu.style.display = "block";
              menu.style.animation = "slideDown 0.3s ease-out forwards";
            });

            item.addEventListener("mouseleave", () => {
              const menu = item.querySelector(".dropdown-menu");
              menu.style.animation = "";
              setTimeout(() => {
                menu.style.display = "none";
              }, 300);
            });
          });

          // Мобильное меню
          document.querySelector(".mobile-menu-btn").addEventListener("click", () => {
            document.querySelector(".main-nav").classList.toggle("show-mobile");
          });
        });
    </script>